coursera_capstone main python script file

In [83]:
import pandas as pd
import numpy as np

In [84]:
print("Hello Capstone Project Course!")

Hello Capstone Project Course!

In [85]:
df = pd.read_csv(r"C:\Temp\Data-Collisions.csv")
df.head()

C:\Users\kpurs\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3071: DtypeWarning: Columns (33) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,SEVERITYCODE,X,Y,OBJECTID,INCKEY,COLDETKEY,REPORTNO,STATUS,ADDRTYPE,INTKEY,...,ROADCOND,LIGHTCOND,PEDROWNOTGRNT,SDOTCOLNUM,SPEEDING,ST_COLCODE,ST_COLDESC,SEGLANEKEY,CROSSWALKKEY,HITPARKEDCAR
0,2,-122.323148,47.703140,1,1307,1307,3502005,Matched,Intersection,37475.0,...,Wet,Daylight,NaN,NaN,NaN,10,Entering at angle,0,0,N
1,1,-122.347294,47.647172,2,52200,52200,2607959,Matched,Block,NaN,...,Wet,Dark - Street Lights On,NaN,6354039.0,NaN,11,From same direction - both going straight - bo...,0,0,N
2,1,-122.334540,47.607871,3,26700,26700,1482393,Matched,Block,NaN,...,Dry,Daylight,NaN,4323031.0,NaN,32,One parked--one moving,0,0,N
3,1,-122.334803,47.604803,4,1144,1144,3503937,Matched,Block,NaN,...,Dry,Daylight,NaN,NaN,NaN,23,From same direction - all others,0,0,N
4,2,-122.306426,47.545739,5,17700,17700,1807429,Matched,Intersection,34387.0,...,Wet,Daylight,NaN,4028032.0,NaN,10,Entering at angle,0,0,N

In [86]:
df.shape

(194673, 38)

In [87]:
list(df.columns)

['SEVERITYCODE',
 'X',
 'Y',
 'OBJECTID',
 'INCKEY',
 'COLDETKEY',
 'REPORTNO',
 'STATUS',
 'ADDRTYPE',
 'INTKEY',
 'LOCATION',
 'EXCEPTRSNCODE',
 'EXCEPTRSNDESC',
 'SEVERITYCODE.1',
 'SEVERITYDESC',
 'COLLISIONTYPE',
 'PERSONCOUNT',
 'PEDCOUNT',
 'PEDCYLCOUNT',
 'VEHCOUNT',
 'INCDATE',
 'INCDTTM',
 'JUNCTIONTYPE',
 'SDOT_COLCODE',
 'SDOT_COLDESC',
 'INATTENTIONIND',
 'UNDERINFL',
 'WEATHER',
 'ROADCOND',
 'LIGHTCOND',
 'PEDROWNOTGRNT',
 'SDOTCOLNUM',
 'SPEEDING',
 'ST_COLCODE',
 'ST_COLDESC',
 'SEGLANEKEY',
 'CROSSWALKKEY',
 'HITPARKEDCAR']

In [23]:
df['SEVERITYCODE'].value_counts()

1    136485
2     58188
Name: SEVERITYCODE, dtype: int64

In [10]:
df['STATUS'].value_counts()

Matched      189786
Unmatched      4887
Name: STATUS, dtype: int64

In [11]:
df['ROADCOND'].value_counts()

Dry               124510
Wet                47474
Unknown            15078
Ice                 1209
Snow/Slush          1004
Other                132
Standing Water       115
Sand/Mud/Dirt         75
Oil                   64
Name: ROADCOND, dtype: int64

In [12]:
df['LIGHTCOND'].value_counts()

Daylight                    116137
Dark - Street Lights On      48507
Unknown                      13473
Dusk                          5902
Dawn                          2502
Dark - No Street Lights       1537
Dark - Street Lights Off      1199
Other                          235
Dark - Unknown Lighting         11
Name: LIGHTCOND, dtype: int64

In [62]:
df['COLLISIONTYPE'].value_counts()

Parked Car    47987
Angles        34674
Rear Ended    34090
Other         23703
Sideswipe     18609
Left Turn     13703
Pedestrian     6608
Cycles         5415
Right Turn     2956
Head On        2024
Name: COLLISIONTYPE, dtype: int64

In [16]:
df['JUNCTIONTYPE'].value_counts()

Mid-Block (not related to intersection)              89800
At Intersection (intersection related)               62810
Mid-Block (but intersection related)                 22790
Driveway Junction                                    10671
At Intersection (but not related to intersection)     2098
Ramp Junction                                          166
Unknown                                                  9
Name: JUNCTIONTYPE, dtype: int64

In [20]:
df['VEHCOUNT'].value_counts()

2     147650
1      25748
3      13010
0       5085
4       2426
5        529
6        146
7         46
8         15
9          9
11         6
10         2
12         1
Name: VEHCOUNT, dtype: int64

In [21]:
df.groupby(['VEHCOUNT','PERSONCOUNT','COLLISIONTYPE','ROADCOND','LIGHTCOND'])['SEVERITYCODE'].value_counts(normalize=True)

VEHCOUNT  PERSONCOUNT  COLLISIONTYPE  ROADCOND  LIGHTCOND                SEVERITYCODE
0         0            Cycles         Dry       Daylight                 2               1.000000
                                      Unknown   Daylight                 2               1.000000
                                      Wet       Daylight                 2               1.000000
          1            Cycles         Dry       Dark - Street Lights On  2               1.000000
                                                Daylight                 2               0.983607
                                                                                           ...
11        11           Other          Dry       Dark - Street Lights On  2               0.500000
                       Parked Car     Dry       Dawn                     1               1.000000
          14           Parked Car     Wet       Dark - Street Lights On  2               1.000000
          16           Rear Ended     Wet       Dawn                     2               1.000000
12        12           Parked Car     Dry       Dark - Street Lights On  1               1.000000
Name: SEVERITYCODE, Length: 4224, dtype: float64

In [ ]:
!conda install -c conda-forge folium=0.5.0 --yes
import folium
print('Folium installed and imported!')

In [ ]:
import geojson

In [ ]:
!wget --quiet https://raw.githubusercontent.com/seattleio/seattle-boundaries-data/master/data -o neighborhoods.geojson
print('GeoJSON file downloaded!')

In [ ]:
neighbors_geo = r'https://raw.githubusercontent.com/seattleio/seattle-boundaries-data/master/data/neighborhoods.geojson'

In [ ]:
sf_map = folium.Map(location=[37.77, -122.42], zoom_start=12)

In [ ]:
#create choropleth
sf_map.choropleth(
    geo_data=sf_geo,
    data=df_crime_summary,
    columns=['Neighborhood','Count'],
    key_on='feature.properties.DISTRICT',
    fill_color='YlOrRd', 
    fill_opacity=0.7, 
    line_opacity=0.2,
    legend_name='Crime Rate in San Fransisco',
    reset=True)

#display map
sf_map

In [88]:
accident_df = df[['SEVERITYCODE','X','Y','VEHCOUNT','PERSONCOUNT','COLLISIONTYPE','WEATHER','ROADCOND','LIGHTCOND','INCDATE','INCDTTM']]
accident_df.head(10)

,SEVERITYCODE,X,Y,VEHCOUNT,PERSONCOUNT,COLLISIONTYPE,WEATHER,ROADCOND,LIGHTCOND,INCDATE,INCDTTM
0,2,-122.323148,47.703140,2,2,Angles,Overcast,Wet,Daylight,2013/03/27 00:00:00+00,3/27/2013 2:54:00 PM
1,1,-122.347294,47.647172,2,2,Sideswipe,Raining,Wet,Dark - Street Lights On,2006/12/20 00:00:00+00,12/20/2006 6:55:00 PM
2,1,-122.334540,47.607871,3,4,Parked Car,Overcast,Dry,Daylight,2004/11/18 00:00:00+00,11/18/2004 10:20:00 AM
3,1,-122.334803,47.604803,3,3,Other,Clear,Dry,Daylight,2013/03/29 00:00:00+00,3/29/2013 9:26:00 AM
4,2,-122.306426,47.545739,2,2,Angles,Raining,Wet,Daylight,2004/01/28 00:00:00+00,1/28/2004 8:04:00 AM
5,1,-122.387598,47.690575,2,2,Angles,Clear,Dry,Daylight,2019/04/20 00:00:00+00,4/20/2019 5:42:00 PM
6,1,-122.338485,47.618534,2,2,Angles,Raining,Wet,Daylight,2008/12/09 00:00:00+00,12/9/2008
7,2,-122.320780,47.614076,1,3,Cycles,Clear,Dry,Daylight,2020/04/15 00:00:00+00,4/15/2020 5:47:00 PM
8,1,-122.335930,47.611904,2,2,Parked Car,Clear,Dry,Daylight,2006/06/15 00:00:00+00,6/15/2006 1:00:00 PM
9,2,-122.384700,47.528475,2,2,Angles,Clear,Dry,Daylight,2006/03/20 00:00:00+00,3/20/2006 3:49:00 PM

In [115]:
accident_df.dtypes

SEVERITYCODE              int64
X                       float64
Y                       float64
VEHCOUNT                  int64
PERSONCOUNT               int64
COLLISIONTYPE            object
WEATHER                  object
ROADCOND                 object
LIGHTCOND                object
INCDATE                  object
INCDTTM                  object
DTM              datetime64[ns]
dtype: object

In [91]:
accident_df['DTM'] = accident_df.to_datetime(accident_df['INCDTTM'],format='%d%m%Y%H%M%S')
accident_df.head()

AttributeError: 'DataFrame' object has no attribute 'to_datetime'

In [112]:
accident_df['DTM'] = pd.to_datetime(accident_df.INCDTTM)
accident_df.head()

<ipython-input-112-614e18f977d2>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  accident_df['DTM'] = pd.to_datetime(accident_df.INCDTTM)

,SEVERITYCODE,X,Y,VEHCOUNT,PERSONCOUNT,COLLISIONTYPE,WEATHER,ROADCOND,LIGHTCOND,INCDATE,INCDTTM,DTM
0,2,-122.323148,47.703140,2,2,Angles,Overcast,Wet,Daylight,2013/03/27 00:00:00+00,3/27/2013 2:54:00 PM,2013-03-27 14:54:00
1,1,-122.347294,47.647172,2,2,Sideswipe,Raining,Wet,Dark - Street Lights On,2006/12/20 00:00:00+00,12/20/2006 6:55:00 PM,2006-12-20 18:55:00
2,1,-122.334540,47.607871,3,4,Parked Car,Overcast,Dry,Daylight,2004/11/18 00:00:00+00,11/18/2004 10:20:00 AM,2004-11-18 10:20:00
3,1,-122.334803,47.604803,3,3,Other,Clear,Dry,Daylight,2013/03/29 00:00:00+00,3/29/2013 9:26:00 AM,2013-03-29 09:26:00
4,2,-122.306426,47.545739,2,2,Angles,Raining,Wet,Daylight,2004/01/28 00:00:00+00,1/28/2004 8:04:00 AM,2004-01-28 08:04:00

In [125]:
accident_df.groupby([accident_df.DTM.dt.hour]).size()

DTM
0     34381
1      3408
2      3606
3      1665
4      1222
5      1667
6      3199
7      6543
8      8570
9      8052
10     7465
11     8209
12    10384
13    10219
14    10615
15    11514
16    12122
17    12947
18     9743
19     7256
20     6236
21     5571
22     5468
23     4611
dtype: int64

In [132]:
print('min',accident_df['DTM'].min())
print('max',accident_df['DTM'].max())

min 2004-01-01 00:00:00
max 2020-05-20 00:00:00

In [41]:
accident_df['SEVERITYCODE'].value_counts()

1    136485
2     58188
Name: SEVERITYCODE, dtype: int64

In [42]:
accident_df['VEHCOUNT'].value_counts()

2     147650
1      25748
3      13010
0       5085
4       2426
5        529
6        146
7         46
8         15
9          9
11         6
10         2
12         1
Name: VEHCOUNT, dtype: int64

In [43]:
accident_df['PERSONCOUNT'].value_counts()

2     114231
3      35553
4      14660
1      13154
5       6584
0       5544
6       2702
7       1131
8        533
9        216
10       128
11        56
12        33
13        21
14        19
15        11
17        11
16         8
44         6
18         6
20         6
25         6
19         5
26         4
22         4
27         3
28         3
29         3
47         3
32         3
34         3
37         3
23         2
21         2
24         2
30         2
36         2
57         1
31         1
35         1
39         1
41         1
43         1
48         1
53         1
54         1
81         1
Name: PERSONCOUNT, dtype: int64

In [44]:
accident_df['COLLISIONTYPE'].value_counts()

Parked Car    47987
Angles        34674
Rear Ended    34090
Other         23703
Sideswipe     18609
Left Turn     13703
Pedestrian     6608
Cycles         5415
Right Turn     2956
Head On        2024
Name: COLLISIONTYPE, dtype: int64

In [64]:
accident_df.groupby(['SEVERITYCODE'])['COLLISIONTYPE'].value_counts(normalize=True)

SEVERITYCODE  COLLISIONTYPE
1             Parked Car       0.341761
              Angles           0.158722
              Rear Ended       0.146424
              Other            0.132640
              Sideswipe        0.121420
              Left Turn        0.062524
              Right Turn       0.017697
              Head On          0.008686
              Pedestrian       0.005067
              Cycles           0.005059
2             Rear Ended       0.256724
              Angles           0.238403
              Other            0.106952
              Pedestrian       0.103872
              Left Turn        0.094686
              Cycles           0.083014
              Parked Car       0.046582
              Sideswipe        0.043852
              Head On          0.015259
              Right Turn       0.010657
Name: COLLISIONTYPE, dtype: float64

In [45]:
accident_df['WEATHER'].value_counts()

Clear                       111135
Raining                      33145
Overcast                     27714
Unknown                      15091
Snowing                        907
Other                          832
Fog/Smog/Smoke                 569
Sleet/Hail/Freezing Rain       113
Blowing Sand/Dirt               56
Severe Crosswind                25
Partly Cloudy                    5
Name: WEATHER, dtype: int64

In [66]:
accident_df.groupby(['SEVERITYCODE'])['WEATHER'].value_counts(normalize=True)

SEVERITYCODE  WEATHER
1             Clear                       0.568316
              Raining                     0.165819
              Overcast                    0.143175
              Unknown                     0.107746
              Snowing                     0.005555
              Other                       0.005404
              Fog/Smog/Smoke              0.002883
              Sleet/Hail/Freezing Rain    0.000642
              Blowing Sand/Dirt           0.000309
              Severe Crosswind            0.000136
              Partly Cloudy               0.000015
2             Clear                       0.627627
              Raining                     0.195713
              Overcast                    0.153142
              Unknown                     0.014290
              Fog/Smog/Smoke              0.003275
              Snowing                     0.002995
              Other                       0.002031
              Sleet/Hail/Freezing Rain    0.000490
              Blowing Sand/Dirt           0.000263
              Severe Crosswind            0.000123
              Partly Cloudy               0.000053
Name: WEATHER, dtype: float64

In [46]:
accident_df['ROADCOND'].value_counts()

Dry               124510
Wet                47474
Unknown            15078
Ice                 1209
Snow/Slush          1004
Other                132
Standing Water       115
Sand/Mud/Dirt         75
Oil                   64
Name: ROADCOND, dtype: int64

In [67]:
accident_df.groupby(['SEVERITYCODE'])['ROADCOND'].value_counts(normalize=True)

SEVERITYCODE  ROADCOND
1             Dry               0.637170
              Wet               0.239329
              Unknown           0.108116
              Ice               0.007062
              Snow/Slush        0.006315
              Other             0.000672
              Standing Water    0.000641
              Sand/Mud/Dirt     0.000392
              Oil               0.000302
2             Dry               0.701302
              Wet               0.275784
              Unknown           0.013111
              Ice               0.004779
              Snow/Slush        0.002923
              Other             0.000753
              Standing Water    0.000525
              Oil               0.000420
              Sand/Mud/Dirt     0.000403
Name: ROADCOND, dtype: float64

In [69]:
accident_df['LIGHTCOND'].value_counts()

Daylight                    116137
Dark - Street Lights On      48507
Unknown                      13473
Dusk                          5902
Dawn                          2502
Dark - No Street Lights       1537
Dark - Street Lights Off      1199
Other                          235
Dark - Unknown Lighting         11
Name: LIGHTCOND, dtype: int64

In [70]:
accident_df.groupby(['SEVERITYCODE'])['LIGHTCOND'].value_counts(normalize=True)

SEVERITYCODE  LIGHTCOND
1             Daylight                    0.586028
              Dark - Street Lights On     0.257030
              Unknown                     0.097187
              Dusk                        0.029893
              Dawn                        0.012673
              Dark - No Street Lights     0.009086
              Dark - Street Lights Off    0.006669
              Other                       0.001382
              Dark - Unknown Lighting     0.000053
2             Daylight                    0.675050
              Dark - Street Lights On     0.253512
              Dusk                        0.034047
              Dawn                        0.014431
              Unknown                     0.010596
              Dark - No Street Lights     0.005850
              Dark - Street Lights Off    0.005534
              Other                       0.000911
              Dark - Unknown Lighting     0.000070
Name: LIGHTCOND, dtype: float64

In [50]:
# count the number of missing values per column
accident_df.apply(lambda x: sum(x.isnull().values), axis = 0)

SEVERITYCODE        0
X                5334
Y                5334
VEHCOUNT            0
PERSONCOUNT         0
COLLISIONTYPE    4904
WEATHER          5081
ROADCOND         5012
LIGHTCOND        5170
INCDATE             0
INCDTTM             0
dtype: int64

In [49]:
# count the number of rows that are missing at least 1 of the values
sum(accident_df.apply(lambda x: sum(x.isnull().values), axis = 1)>0)

194673

In [51]:
# count the number of rows that are missing at least 1 of the values
sum([True for idx,row in accident_df.iterrows() if any(row.isnull())])

10527

In [53]:
a2 = accident_df[accident_df['VEHCOUNT']>0]
a2.head()

,SEVERITYCODE,X,Y,VEHCOUNT,PERSONCOUNT,COLLISIONTYPE,WEATHER,ROADCOND,LIGHTCOND,INCDATE,INCDTTM
0,2,-122.323148,47.703140,2,2,Angles,Overcast,Wet,Daylight,2013/03/27 00:00:00+00,3/27/2013 2:54:00 PM
1,1,-122.347294,47.647172,2,2,Sideswipe,Raining,Wet,Dark - Street Lights On,2006/12/20 00:00:00+00,12/20/2006 6:55:00 PM
2,1,-122.334540,47.607871,3,4,Parked Car,Overcast,Dry,Daylight,2004/11/18 00:00:00+00,11/18/2004 10:20:00 AM
3,1,-122.334803,47.604803,3,3,Other,Clear,Dry,Daylight,2013/03/29 00:00:00+00,3/29/2013 9:26:00 AM
4,2,-122.306426,47.545739,2,2,Angles,Raining,Wet,Daylight,2004/01/28 00:00:00+00,1/28/2004 8:04:00 AM

In [54]:
# count the number of rows that are missing at least 1 of the values
sum([True for idx,row in a2.iterrows() if any(row.isnull())])

5638

In [56]:
a2.shape

(189588, 11)

In [57]:
a2['PERSONCOUNT'].value_counts()

2     111311
3      35141
4      14445
1      11624
5       6584
0       5536
6       2702
7       1131
8        533
9        216
10       128
11        56
12        33
13        21
14        19
15        11
17        11
16         8
44         6
18         6
20         6
25         6
19         5
26         4
22         4
27         3
28         3
29         3
47         3
32         3
34         3
37         3
23         2
21         2
24         2
30         2
36         2
57         1
31         1
35         1
39         1
41         1
43         1
48         1
53         1
54         1
81         1
Name: PERSONCOUNT, dtype: int64

In [60]:
apc = a2[a2['PERSONCOUNT']<1]
apc.head(20)

,SEVERITYCODE,X,Y,VEHCOUNT,PERSONCOUNT,COLLISIONTYPE,WEATHER,ROADCOND,LIGHTCOND,INCDATE,INCDTTM
12,1,-122.356273,47.571375,2,0,Rear Ended,Raining,Wet,Dark - Street Lights On,2006/05/17 00:00:00+00,5/17/2006 12:51:00 PM
17,1,NaN,NaN,2,0,Rear Ended,Overcast,Dry,Daylight,2004/01/16 00:00:00+00,1/16/2004 8:25:00 AM
74,1,NaN,NaN,2,0,Parked Car,Clear,Dry,Daylight,2007/08/27 00:00:00+00,8/27/2007
327,1,-122.322951,47.686787,2,0,Angles,Raining,Wet,Dark - Street Lights On,2004/02/04 00:00:00+00,2/4/2004
481,1,-122.339357,47.609781,2,0,Other,Clear,Dry,Daylight,2005/05/03 00:00:00+00,5/3/2005
515,2,-122.344522,47.690563,1,0,Other,Clear,Dry,Daylight,2005/10/22 00:00:00+00,10/22/2005 4:41:00 PM
666,1,-122.335155,47.664293,2,0,Angles,Raining,Wet,Dark - Street Lights Off,2005/11/05 00:00:00+00,11/5/2005
902,2,-122.334437,47.665036,2,0,Rear Ended,Raining,Wet,Dark - Street Lights On,2004/01/28 00:00:00+00,1/28/2004 7:00:00 PM
1038,2,-122.298062,47.587607,2,0,Head On,Clear,Dry,Dark - Street Lights On,2015/04/24 00:00:00+00,4/24/2015 10:46:00 PM
1076,1,-122.340093,47.605545,2,0,Rear Ended,Clear,Dry,Daylight,2017/09/21 00:00:00+00,9/21/2017 9:40:00 AM
1113,1,-122.376222,47.661211,2,0,Sideswipe,Clear,Dry,Daylight,2017/08/29 00:00:00+00,8/29/2017 5:00:00 PM
1115,1,-122.326136,47.553380,1,0,Other,Clear,Dry,Dark - Street Lights On,2015/09/23 00:00:00+00,9/23/2015 1:13:00 AM
1118,1,-122.300711,47.665333,2,0,Sideswipe,Clear,Dry,Daylight,2015/04/18 00:00:00+00,4/18/2015 2:00:00 PM
1143,2,-122.349756,47.646513,2,0,Rear Ended,Raining,Wet,Daylight,2017/10/20 00:00:00+00,10/20/2017 10:08:00 AM
1181,1,-122.359641,47.544716,2,0,Other,Clear,Dry,Dark - Street Lights Off,2017/10/08 00:00:00+00,10/8/2017 8:55:00 PM
1230,1,-122.339357,47.609781,1,0,Cycles,Clear,Dry,Daylight,2016/04/19 00:00:00+00,4/19/2016 8:30:00 AM
1285,1,-122.331278,47.604305,3,0,Parked Car,Raining,Wet,Daylight,2017/01/25 00:00:00+00,1/25/2017 1:57:00 PM
1291,1,-122.360469,47.679560,2,0,Angles,Raining,Wet,Dawn,2015/10/02 00:00:00+00,10/2/2015 7:48:00 AM
1314,2,-122.315658,47.675815,1,0,Pedestrian,Overcast,Dry,Dark - Street Lights On,2015/05/11 00:00:00+00,5/11/2015 9:18:00 PM
1435,2,-122.308968,47.599239,2,0,Angles,Clear,Dry,Daylight,2015/04/11 00:00:00+00,4/11/2015 8:20:00 AM

In [61]:
apc.shape

(5536, 11)